.wrapper {
  display: flex;
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background-color: #ffffff;
}

.leftArea {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  height: 100%;
  min-width: 256px;
  max-width: 256px;
  padding: 24px 16px 24px 16px;
  background-color: white;
}

.rightArea {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 1440px;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  border-left: 1px solid #dde1e6;
  background-color: #f2f4f8;
  padding: 24px 30px;
}
